<div id="aboutMe" class="work-together-bg">
    <div class="work-togehter-sort">
        <div class="about-me-headline">
            <h2 translate>Let's work together</h2>
        </div>
        <div class="about-me-text">
            <span translate>I am a Front-end developer based in Wiesbaden, Germany. I enjoy helping designers and companies bring
                their ideas into real
                life. I am looking forward to continuing my developer career with a job in a junior web developer
                position.
                <br>
                <br>
                If you think I’d be a good match for your projects, contact me!</span>
           <a href="#contactMe"> <button translate>Send a message</button></a>
        </div>
    </div>

</div>
