<div class="startpage-bg">
    <div class="startpage-sort">
        <div class="profile-picture">
            <img src="/assets/img/test-dummy.png" alt="" srcset="">
        </div>
        <div>
            <div class="greeting">
                <h2 class="headline1">Hello! I am Eugen</h2>
                <h1 class="headline2">FRONTEND</h1>
                <h1 class="headline3">DEVELOPER</h1>
            </div>
            <div class="scroll-info">
                <span>SCROLL</span>
                <div class="bar"></div>
            </div>
        </div>
    </div>

</div>
