<div class="startpage-bg">
    <div class="startpage-sort">
        <div class="profile-picture-div">
            <img class="profile-picture" src="/assets/img/test-dummy.png" alt="" srcset="">
        </div>
        <div>
            <div class="greeting">
                <h2 translate class="headline1">Hello! I am Eugen</h2>
                <h1 translate class="headline2">FRONTEND</h1>
                <h1 translate class="headline3">DEVELOPER</h1>
            </div>
            <div class="scroll-info">
                <span translate>SCROLL</span>
                <div class="bar"></div>
            </div>
        </div>
        <div class="startpage-icons">
            <a target="_blank" href="https://github.com/EugenOswald"><img src="/assets/img/icons/github.png"></a>
            <a href="#contactMe"><img src="/assets/img/icons/email.png"></a>
            <a target="_blank" href="https://www.linkedin.com/in/eugen-oswald-a6031b1a8/"><img src="/assets/img/icons/linkedin.png"></a>

        </div>
    </div>
    

</div>
