header {
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
}


  .header-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 50px;
  }

  .logo-icon {
    margin-left: 100px;
    width: 100px;
    height: 100px;
    cursor: pointer;
  }

.second-navbar{
  display: none;
}
.navbar {
  margin-right: 50px;
  width: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  a {
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    font-size: 23px;
    color: #57e8a2;
    flex: 1;
    transition: 115ms ease-in-out;

    &:hover {
      transform: scale(1.1);
      font-weight: 600;
    }
  }
}

.separator {
  border-right: 2px solid #57e8a2;
  height: 30px;
  margin-left: 5px;
  margin-right: 5px;
}

.separator-language {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 40px;
  a {
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
  }
}



@media (max-width: 1300px) {
  .header-1{
    display: none !important;
  }
  .second-navbar {
  display: flex;
}
}
