header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  margin-top: 50px;

  img {
    padding-left: 100px;
    width: 100px;
    height: 100%;
    cursor: pointer;
  }
}

.navbar {
  width: 600px;
  display: flex;
  justify-content: space-around;
  a {
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    font-size: 23px;
    color: #57e8a2;
    flex: 1;
    transition: 115ms ease-in-out;

    &:hover {
      transform: scale(1.1);
      font-weight: 600;
    }
  }
}
