<div class="footer-bg">
    <div class="footer-sort">
        <div class="footer-icon">
            <img src="/assets/img/icons/EO-white.png" alt="" srcset="">
        </div>
        <div class="footer-center">
            <h3>© Eugen Oswald 2022</h3>
            <div class="first-impressum">
                <a translate href="/imprint">imprint</a>
                <a translate href="/imprint">Data protection</a>
            </div>
        </div>

        <div class="footer-social">
            <a target="_blank" href="https://github.com/EugenOswald"><img src="/assets/img/icons/github-white.png"></a>
            <a target="_blank" href="mailto:oswaldeugen95@gmail.com"><img src="/assets/img/icons/email-white.png"></a>
            <a target="_blank" href="https://www.linkedin.com/in/eugen-oswald-a6031b1a8/"><img
                    src="/assets/img/icons/linkedin-white.png"></a>
        </div>
        <div class="second-impressum">
          <a translate href="">Impressum</a>
          <a translate href="">Data protection</a>
        </div>
    </div>
</div>
