<div class="footer-bg">
    <div>
        <img src="/assets/img/icons/EO-white.png" alt="" srcset="">
    </div>
    <div>
        <h3>© Eugen Oswald 2023</h3>
        <a href="">Impressum</a>
        <a href="">Data protection</a>
    </div>

    <div>
        <a href="https://github.com/EugenOswald"><img src="/assets/img/icons/github.png"></a>
        <a href="#contactMe"><img src="/assets/img/icons/email.png"></a>
        <a href="https://www.linkedin.com/in/eugen-oswald-a6031b1a8/"><img src="/assets/img/icons/linkedin.png"></a>
    </div>

</div>
