.footer-bg{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background: radial-gradient(71.18% 335.57% at 28.82% -124.4%, #57E8A2 51.56%, #33B476 100%)
}

.footer-icon{
    img{
        width: 100px;
    }
}
