$Montserrat: "Montserrat", Arial, Helvetica, sans-serif;
$Baloo: "Baloo", Arial, Helvetica, sans-serif;

.absolute {
  position: absolute;
}


.my-work-bg {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: auto;
  padding-bottom: 50px;
  padding-top: 50px;
  overflow-x: hidden;
   overflow-y: hidden;
}

.my-work-headline {
  display: flex;
  flex-direction: column;
  text-align: left;
  z-index: 2;

  padding-left: 170px;
  h2 {
    font-family: $Baloo;
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 100%;
    letter-spacing: 0.01em;
    color: #57e8a2;
  }

  span {
    font-family: $Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    color: #000000;
  }
}

@media screen and (max-width: 1200px) {
  .my-work-headline {
    padding-left: 100px;
  }
}

@media screen and (max-width: 1050px) {
  .my-work-headline {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;

    padding-left: 120px;
    h2 {
      font-size: 70px;
    }

    span {
      font-weight: 400;
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 560px) {
  .my-work-headline {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 0px;
    h2 {
      font-size: 50px;
    }

    span {
      font-weight: 400;
      font-size: 16px;
      width: 80vw;
    }
  }
}

/*****************Bubbles***************************/

.bubble-0 {
  width: 5vw;
  height: auto;
  z-index: 0;
  top: 2vh;
  right: 51vw;
}
.bubble-1 {
  width: 10vw;
  height: auto;
  z-index: 0;
  top: 25vh;
  right: 2vw;
}

.bubble-2{
  width: 30vw;
  height: auto;
  z-index: 0;
  top: 60vh;
  right: 90vw;
}
.bubble-3 {
  width: 10vw;
  height: auto;
  z-index: 0;
  top: 100vh;
  right: 1vw;
}
.bubble-4 {
  width: 5vw;
  height: auto;
  z-index: 0;
  top: 150vh;
  right: 80vw;
}
.bubble-5 {
  width: 10vw;
  height: auto;
  z-index: 0;
  top: 170vh;
  right:95vw;
}
.bubble-6 {
  width: 10vw;
  height: auto;
  z-index: 0;
  top: 220vh;
  right: 85vw;
}
.bubble-7 {
  width: 20vw;
  height: auto;
  z-index: 0;
  top: 270vh;
  right: 2vw;
}
