<div id="contactMe" class="contact-bg">
    <div class="contact-organize">
        <div>
            <h2>Contact</h2>
            <h3>Got a problem to solve?</h3>
            <span>Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to
                your projects with
                my work.</span>
            <br>
            <br>
            <span class="green">Need a Fullstack developer? <a href="mailto:oswaldeugen95@gmail.com" >Contact me!</a> </span>
        </div>

        <app-contact-form></app-contact-form>
    </div>
</div>
