$Montserrat: "Montserrat", Arial, Helvetica, sans-serif;
$Baloo: "Baloo", Arial, Helvetica, sans-serif;

.absolute {
  position: absolute;
}

.bubble-0 {
  width: 15vw;
  height: auto;
  z-index: 0;
  top: 1vh;
  right: 1vw;
}
.bubble-1 {
  width: 10vw;
  height: auto;
  z-index: 0;
  top: 60vh;
  right: 70vw;
}

.contact-bg {
  position: relative;
  width: 100vw;
  max-width: 100%;
  background-image: url(../../assets/img/background/contact-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.contact-organize {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 120px;
  padding-left: 175px;
  padding-right: 175px;
  z-index: 2;

  h2 {
    font-family: $Baloo;
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 120%;
    color: #57e8a2;
  }

  h3 {
    font-family: $Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    color: #57e8a2;
  }

  span {
    font-family: $Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #000000;
  }

  a {
    font-weight: 700;
    color: #57e8a2 !important;
  }
}

.green {
  font-weight: 700;
  color: #57e8a2 !important;
}

.contact-text {
  width: 600px;
}

@media screen and (max-width: 1400px) {
  .about-me-headline {
    margin-left: 20px;
    width: 500px;
    h2 {
      font-size: 100px;
    }
  }

  .about-me-text {
    width: 500px;

    span {
      font-size: 20px;
    }
    button {
      width: 200px;
      height: 58px;
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 1050px) {
  .contact-organize {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 80px;
    padding-right: 80px;

    h2 {
      font-size: 70px;
    }

    h3 {
      font-size: 26px;
    }
  }
}

@media screen and (max-width: 850px) {
  .contact-organize {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 80px;
    padding-right: 80px;
    .contact-text {
      width: 500px;
      padding-bottom: 40px;
    }

    h2 {
      font-size: 70px;
    }

    h3 {
      font-size: 26px;
    }
  }
}

@media screen and (max-width: 600px) {
  .contact-organize {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;

    .contact-text {
      max-width: 80vw;
      padding-bottom: 40px;
    }

    h2 {
      font-size: 50px;
    }

    h3 {
      font-size: 26px;
    }
  }
}
