<div class="header" #header>

  <div class="mobile-menu">
    <img class="logo-icon" src="/assets/img/icons/EO-white.png" alt="" srcset="">
    <div (click)="toggleMenu()" class="menu-btn" #menuBtn>
      <div class="menu-btn_burger"></div>
    </div>
  </div>

  <nav *ngIf="openMenu" class="navbar">
    <a (click)="toggleMenu()" translate href="#aboutMe">About me</a>
    <a (click)="toggleMenu()" translate href="#skillsSet">Skills set</a>
    <a (click)="toggleMenu()" translate href="#myWork">My work</a>
    <div class="separator-language">
      <a (click)="translate.use('de')">DE</a>
      <div class="separator"></div>
      <a (click)="translate.use('en')">EN</a>
    </div>
  </nav>
</div>
