<div [ngClass]="{'skill-style-1': index % 2 === 0, 'skill-style-2': index % 2 === 1}" *ngFor="let index of [0,1,2,3]">
  <a class="a-class" href="{{skillLinks[index]}}" target="_blank">
    <div class="work-img" [style.background-image]="'url(../../assets/img/my-skills/my-work-' + index + '.png)'">
      <span class="live-test-span">LIVE TEST</span>
    </div>
  </a>
  <img src="">
  <div [ngClass]="{'description-1': index % 2 === 0, 'description-2': index % 2 === 1}">
    <h3 [innerHTML]="skillName[index]"></h3>
    <h5 [innerHTML]="skillSet[index]"></h5>
    <span translate class=" skill-name">{{skillDescription[index]}}</span>
    <div class="flex-row">
      <a href="{{skillLinks[index]}}" class="live-test-button" target="_blank"><button>Live test</button></a>
      <a href="{{skillGit[index]}}" target="_blank"><button>GitHub</button></a>
    </div>
  </div>
</div>
